* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.line::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    z-index: 1;
}
.line::after{
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 33.3%;
    width: 33.3%;
    height: 1px;
    background-color: red;
    z-index: 2;
    transform-origin: left;
    transform: scaleX(0);
    animation: animate 500ms infinite forwards;
}
@keyframes animate {
    0%{
        transform: scaleX(0);
        transform-origin: left;
        left: 33.3%;
    }
    49%{
        transform: scaleX(1);
        transform-origin: left;
        left: 33.3%;
        right: auto;
    }
    50%{
        transform: scaleX(1);
        transform-origin: right;
        right: 33.3%;
    }
    100%{
        transform: scaleX(0);
        transform-origin: right;
        right: 33.3%;
    }
}
